@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Students of Demo University</h1>
    <p class="lead">Demo Website on ASP.NET to Maintain Student Record</p>
    <p><a href="/CRUD/Create" class="btn btn-primary btn-lg">Create Record &raquo;</a></p>
    <p><a href="/CRUD/Read"  class="btn btn-primary btn-lg">Read Record &raquo;</a></p>
</div>
